<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="imagenes/favicon-32x32.png" type="png" sizes="32">
    <link rel="stylesheet" href="css/dashboard.css">
    <script crossorigin="anonymous" src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"></script>
    <title>Dashboard</title>
</head>

<body>
    <div class="form-containner">
        <div id="containner">
            <h2>Tablero de control de <%= data.name.replaceAll('_', '') %> </h2>
            <hr>
            <div id="buttons">
                <button id="btn1" class="btn-off" onclick="clickon(this.id, this.className)">ON/OFF</button>
                <br>
                <button id="btn2" class="btn-off" onclick="clickon(this.id, this.className)">ON/OFF</button>
                <br>
                <button id="btn3" class="btn-off" onclick="clickon(this.id, this.className)">ON/OFF</button>
                <br>
            </div>
        </div>
    </div>
    <script>
        //const socket = io.connect("http://localhost:24180", { forceNew: true });
        const socket = io.connect("http://54.173.224.62:24180", { forceNew: true });
        
        socket.on('<%=data.name%>', function (dato) {
            console.log(dato);
            if(dato == 'off1'){
                document.getElementById('btn1').setAttribute("class", "btn-off");
            }
            if (dato == 'on1') {
                document.getElementById('btn1').setAttribute("class", "btn-on");
            }
        
            if (dato == 'off2') {
                document.getElementById('btn2').setAttribute("class", "btn-off");
            }
            if (dato == 'on2') {
                document.getElementById('btn2').setAttribute("class", "btn-on");
            }

            if (dato == 'off3') {
                document.getElementById('btn3').setAttribute("class", "btn-off");
            }
            if (dato == 'on3') {
                document.getElementById('btn3').setAttribute("class", "btn-on");
            }
        });


        function clickon(id, className) {
            console.log(id);
            console.log(className);
            if (id == 'btn1'){
                if (className == 'btn-off') {
                    socket.emit('btnAction', { device: '<%=data.name%>', btn: 'on1' });
                }
                if (className == 'btn-on') {
                    socket.emit('btnAction', { device: '<%=data.name%>', btn: 'off1' });
                }
            }

            if (id == 'btn2') {
                if (className == 'btn-off') {
                    socket.emit('btnAction', { device: '<%=data.name%>', btn: 'on2' });
                }
                if (className == 'btn-on') {
                    socket.emit('btnAction', { device: '<%=data.name%>', btn: 'off2' });
                }
            }

            if (id == 'btn3') {
                if (className == 'btn-off') {
                    socket.emit('btnAction', { device: '<%=data.name%>', btn: 'on3' });
                }
                if (className == 'btn-on') {
                    socket.emit('btnAction', { device: '<%=data.name%>', btn: 'off3' });
                }
            }
        }
        
    </script>
</body>

</html>